@import "../../../vars.scss";

.portrait{
    width:350px;
    height: 500px;
    
}

.image-wrap {
    display: flex;
    justify-content: center;
    padding: 50px 30px;
}

.bio-wrap {
    text-align: center;
    text-justify:ceil($number: 6);
    padding: 50px 30px ;
    p {
        font-family: $bio-font;
        font-size: 17px;
        line-height: 30px;
    }
}

.wrap {
    background-color: $back-wrapper;
}