<header class="col-12">
    <div class="title">
        <h1 >LUIGI D'ANTONI</h1>
    </div>
    <nav>
        <div id="nav-icon1" (click)="toggleNav()"  [ngClass]="{'open': opened}">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div [ngClass]='{"visible":opened}' class="nav-wrapper">
            <ul class="col-8 col-xl-6 ml-md-1 p-0 pt-md-0 pt-4">
                <li><a href="#">Home</a></li>
                <li><a href="#">Su di me</a></li>
                <li><a href="#">Romanzi</a></li>
                <li><a href="#">Racconti</a></li>
                <li><a href="#">Saggi</a></li>
                <li><a href="#">Contatti</a></li>
            </ul>
        </div>
    </nav>
</header>
