//testo
$white: #ffff;
$nav-link: rgba(255,255,255,.5);
$nav-link-enter: lightgray;

//background
$back-wrapper: rgba(22, 77, 77, 0.4);

//font
$titolo-font: 'Playfair Display';
$nav-font: 'Playfair Display';
$bio-font: 'Nanum Gothic';
$titolo-romanzo: 'Playfair Display';
$descrizione: 'Libre Baskerville';